.warehouse-button{
    -fx-text-fill: -fx-primary-blue;
    -fx-background-color: -fx-primary-background;
    -fx-border-color: -fx-primary-blue;
    -fx-background-radius: 0;
}

.warehouse-button:hover{
    -fx-background-color: -fx-secondary-background;
}

.warehouse-label{
    -fx-font-size: 15px;
    -fx-text-fill: -fx-primary-blue;
}